body {
  background: linear-gradient(135deg, #6EE7B7, #3B82F6);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}
h1 {
  color: #1E3A8A;
  margin-bottom: 20px;
}

input, select {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

input:focus, select:hover {
  outline: none;
  border-color: #3B82F6;
  box-shadow: 0 0 5px rgba(59,130,246,0.5);
}
button {
  margin-top: 20px;
  background-color: #3B82F6;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  width: 100%;
}

button:hover {
  background-color: #2563EB;
}

.status {
  display: none;
  margin-top: 15px;
  font-weight: 500;
  color: #D97706;
  min-height: 24px;
}

.error {
  color: #EF4444;
}
.success {
  color: #10B981;
}
.password-layout {
    position: relative;
    display: flex;
    align-items: center;
}
.icon-eye {
    position: absolute;
    cursor: pointer;
    right: 10px;
}
.password-layout input {
    padding-right: 35px;
}